@font-face {
  font-family: 'OpenSauceOne';
  src: url('../assets/fonts/OpenSauceOne-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('../assets/fonts/OpenSauceOne-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
