$fontFamily-main: 'OpenSauceOne', sans-serif;

$fontSize-base: 0.875em;
$fontSize-quote: 1.25em;

$color-background: #f5f3f3;
$color-inputBorder: #757575;
$color-textHeading: #72035d;
$color-textBody: #000000;

$weight-regular: 400;
$weight-bold: 800;
